/Vocales/nbproject/private/
/Vocales/build/
/Numros positivos/nbproject/private/
/Numros positivos/build/
/calculadora/nbproject/private/
/calculadora/build/
/Numeros pares/nbproject/private/
/Numeros pares/build/
/Cuadrados/nbproject/private/
/Cuadrados/build/
/Secuencia/nbproject/private/
/Secuencia/build/